.tableHeader{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #074684;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.header-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .up {
    transform: rotate(180deg);
    margin-right: 2px;
  }

  .sort-arrow {
    opacity: 0.5;
  }
  .active {
    opacity: 1;
  }
  .sortIcon{
    margin-left: 4px;
  }
}
.col-wrpper {
  cursor: pointer;
}

.row-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8FBFD;
  border-radius: 5px;
  height: 60px;
  margin-top: 5px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color:#D8DFE4;
  }
  .data-field {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    color: #000000
  }
}
.selectedRow{
  background: #D8DFE4;
}